<div id="about">
  <div id="about-left-box">
    <p>Want to find an awesome divesite but have no idea where to go?</p>
    <p>Want to go dive in January but don't know if it's the right season?</p>
    <p>Dying to see a whale shark but not sure where to find one?</p>
  </div>

  <div id="about-right-box">
    <p>Dont worry, we got you covered</p>
    <p>Just put on your mask and fins</p>
    <p>And get ready to...</p>
    <p><%=link_to "DIVE IN!", root_path%></p>
  </div>
</div>


