

<h1 class="home-header"> Where Do You Want To Dive? </h1>

<div id="world-map"></div>


<% content_for :javascripts do %>
  <script>
$(function(){
  makeMap();
});
  </script>
<%end%>


<div>
  <h1 class="home-header">Find Divesites By Category</h1><br>
  <ul class="small-block-grid-5">
    <% @categories.each do |category|%>
    <li class="text-center"><%= link_to category.name, category_path(category)%></li>
    <%end%>
  </ul>
</div>

<div>
  <h1 class="home-header">Find Divesites By Month</h1><br>
  <ul class="small-block-grid-6">
    <% @months.each do |month|%>
    <li class="button"><%= link_to month.name, month_path(month)%></li>
    <%end%>
  </ul>
</div>

<div>
  <h1 class="home-header"><%=link_to 'Complete List of the Best Divesites in the World', divesites_path%></h1>
</div>



