#map{
  margin-left: auto;
  margin-right: auto;
}

.home-header{
  text-align: center;
  padding: 35px;
}

.text-center{
  padding: 20px;
}

#main-header{
  overflow: auto;
}

.button{

}

.top-ten{
  text-align: center;
  align: center;
}
